
<html>
<head>
  <title>Lista de Drones</title>
</head>
<body>
  <h1>Lista de Drones</h1>
  <ul>
    {{#each drones}}
      <li>
        <p>Nombre: {{name}}</p>
        <p>Hélices: {{propellers}}</p>
        <p>Velocidad Máxima: {{maxSpeed}}</p>
      </li>
    {{/each}}
  </ul>
</body>
</html>